body {
  min-width: 270px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #003366, #000044);
  color: aliceblue;
}

p {
  margin: 5px;
  margin-bottom: 20px;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: auto;
  box-shadow: none;
}
button:disabled:hover {
  background-color: #ccc;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 25px 0;
  font-size: 35px;
  text-align: center;
  color: rgb(95, 179, 227);
  text-shadow: 2px 2px 4px rgb(113, 113, 226);
}

.subtitle {
  margin: 0;
  font-size: 15px;
  text-align: center;
  color: rgba(187, 147, 244, 0.99);
  margin-bottom: 10px;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 5px;
}

.guess-input {
  width: 50%;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 0px 0px 15px rgba(119, 178, 237, 0.984);
  color: #3745ca;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(31, 231, 246, 0.781);
}

.guess-input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0px 0px 8px rgba(52, 152, 219, 0.7);
}

.guess-btn,
.restart-btn,
.user-range-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(252, 252, 252, 0.3);
  transition: background-color 0.3s;
  border: 1px solid #f8fafc;
}

.user-range-btn {
  width: 150px;
  height: 40px;
  color: rgb(1, 1, 1);
  background-color: #cfc4e6;
  box-shadow: 0px 0px 10px rgba(252, 252, 252, 0.3);
  padding: 0 5px;
  margin-left: 20px;
  font-size: 12px;
}

.user-range-btn:hover {
  background-color: #a6aef2;
}

.guess-btn:hover,
.restart-btn:hover {
  background-color: #323c98;
}

.message {
  color: #f7968b;
  font-weight: bold;
  margin: 25px 0;
  font-size: 20px;
}

.attempts,
.hints {
  font-weight: bold;
}

.restart-btn {
  background-color: #5227ae;
  color: #fff;
}

.restart-btn:hover {
  background-color: #385ea4;
}

.range-container {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confetti {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #5ff194;
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  animation-name: confetti-fall;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.range-input {
  width: 50px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.range-input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0px 0px 8px rgba(52, 152, 219, 0.7);
}

span {
  font-weight: bold;
  margin: 0 10px;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100vh) rotateZ(0deg);
  }
  100% {
    transform: translateY(100vh) rotateZ(720deg);
  }
}

@media (max-width: 500px) {
  .range-container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  .user-range-btn {
    margin-top: 20px;
    margin-left: 0;
  }
  .guess-input {
    width: 70%;
    font-size: 20px;
  }
  .range-input {
    font-size: 17px;
    padding: 5px;
  }
  .subtitle {
    width: 250px;
  }
  .message {
    width: 250px;
  }
}
